node_modules
npm-debug.log
.env
.env.local
.env.production
.git
.gitignore
dist
logs
winston
uploads
*.md
README.md
LICENSE
.vscode
.idea
.DS_Store
coverage
*.log
.eslintrc.json
.prettierrc.json
tsconfig.json
Backend-Template.postman_collection.json
